DEFAULT_URI=ask_from_developer
APP_ENV=ask_from_developer
APP_SECRET=
APP_SHARE_DIR=ask_from_developer

#database keys
POSTGRES_USER=ask_from_developer
POSTGRES_PASSWORD=ask_from_developer
POSTGRES_DB=ask_from_developer
POSTGRES_HOST=ask_from_developer
POSTGRES_PORT=ask_from_developer

DATABASE_URL=ask_from_developer

#redis keys
REDIS_HOST=ask_from_developer
REDIS_PORT=ask_from_developer
REDIS_URL=ask_from_developer



