#database keys
POSTGRES_USER=ask_from_developer
POSTGRES_PASSWORD=ask_from_developer
POSTGRES_DB=ask_from_developer
POSTGRES_HOST=auth-postgres
POSTGRES_PORT=ask_from_developer
POSTGRES_EXTERNAL_PORT=ask_from_developer

#redis keys
REDIS_HOST=auth-redis
REDIS_PORT=ask_from_developer
REDIS_EXTERNAL_PORT=ask_from_developer
