#database keys
POSTGRES_USER=ask_from_developer
POSTGRES_PASSWORD=ask_from_developer
POSTGRES_DB=ask_from_developer
POSTGRES_HOST=auth-postgres
POSTGRES_PORT=5432
POSTGRES_EXTERNAL_PORT=5435

DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?serverVersion=16&charset=utf8"

#redis keys
REDIS_HOST=auth-redis
REDIS_PORT=6379
REDIS_URL="redis://${REDIS_HOST}:${REDIS_PORT}"
REDIS_EXTERNAL_PORT=6381
